/* line 2, ../../project-4/scss/partials/componants/_base-styles.scss */
* {
  font-family: 'Lato', sans-serif;
  color: #777;
  box-sizing: border-box;
}

/* line 8, ../../project-4/scss/partials/componants/_base-styles.scss */
p {
  line-height: 1.45em;
}

/* line 12, ../../project-4/scss/partials/componants/_base-styles.scss */
a {
  text-decoration: none;
}

/* line 1, ../../project-4/scss/partials/base/_typography.scss */
.headline-primary {
  color: #56e1c1;
  margin-left: 10px;
}

/* line 6, ../../project-4/scss/partials/base/_typography.scss */
.headline-secondary {
  font-weight: 300;
  color: #777;
}

/* line 11, ../../project-4/scss/partials/base/_typography.scss */
.link {
  color: #51ddfc;
  font-weight: 700;
}

/* line 16, ../../project-4/scss/partials/base/_typography.scss */
.blockquote {
  font-size: 1.5em;
  font-weight: 300;
  font-style: italic;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 8px solid #58e1c1;
  border-radius: 5px;
}

/* line 1, ../../project-4/scss/partials/componants/_grid.scss */
.container {
  padding: 0 10px;
}

/* line 5, ../../project-4/scss/partials/componants/_grid.scss */
.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
}

/* line 11, ../../project-4/scss/partials/componants/_grid.scss */
[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
}

/* line 19, ../../project-4/scss/partials/componants/_grid.scss */
.theme.col-1 {
  background-color: #927bc1;
}

/* line 23, ../../project-4/scss/partials/componants/_grid.scss */
.theme.col-2 {
  background-color: #fd7856;
}

/* line 27, ../../project-4/scss/partials/componants/_grid.scss */
.theme.col-3 {
  background-color: #deb2ee;
}

/* line 31, ../../project-4/scss/partials/componants/_grid.scss */
.theme.col-4 {
  background-color: #7ee6fd;
}

/* line 35, ../../project-4/scss/partials/componants/_grid.scss */
.theme.col-5 {
  background-color: #88d9a0;
}

/* line 39, ../../project-4/scss/partials/componants/_grid.scss */
.theme.col-6 {
  background-color: #4da2bb;
}

/* line 43, ../../project-4/scss/partials/componants/_grid.scss */
.theme.col-7 {
  background-color: #ec9fa3;
}

/* line 47, ../../project-4/scss/partials/componants/_grid.scss */
.theme.col-8 {
  background-color: #fd9f85;
}

/* line 51, ../../project-4/scss/partials/componants/_grid.scss */
.theme.col-9 {
  background-color: #e4757a;
}

/* line 55, ../../project-4/scss/partials/componants/_grid.scss */
.theme.col-10 {
  background-color: #63cc82;
}

/* line 59, ../../project-4/scss/partials/componants/_grid.scss */
.theme.col-11 {
  background-color: #51ddfc;
}

/* line 63, ../../project-4/scss/partials/componants/_grid.scss */
.theme.col-12 {
  background-color: #80e8d1;
}

/* line 67, ../../project-4/scss/partials/componants/_grid.scss */
.card {
  flex-basis: 100%;
}

/* line 1, ../../project-4/scss/partials/componants/_button.scss */
.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

/* line 11, ../../project-4/scss/partials/componants/_button.scss */
.default {
  background-color: #51ddfc;
}

/* line 15, ../../project-4/scss/partials/componants/_button.scss */
.error {
  background-color: #e4757a;
}

/* line 19, ../../project-4/scss/partials/componants/_button.scss */
.info {
  background-color: #927bc1;
}

/* line 23, ../../project-4/scss/partials/componants/_button.scss */
.success {
  background-color: #63cc82;
}

/* line 27, ../../project-4/scss/partials/componants/_button.scss */
.warning {
  background-color: #fd7856;
}

/* line 1, ../../project-4/scss/partials/componants/_form.scss */
.form {
  flex-basis: 100%;
}

/* line 5, ../../project-4/scss/partials/componants/_form.scss */
.input {
  display: block;
  width: 94%;
  margin: 10px auto 0;
  border: none;
  padding: 10px;
  border-bottom: 5px solid #56e1c1;
}

/* line 14, ../../project-4/scss/partials/componants/_form.scss */
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* line 1, ../../project-4/scss/partials/componants/_images.scss */
.img-avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 100%;
  max-height: 100%;
}

/* line 10, ../../project-4/scss/partials/componants/_images.scss */
.img-frame {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 100%;
  padding: 13px;
  border: 1px solid #ccc;
}

/* line 20, ../../project-4/scss/partials/componants/_images.scss */
.img-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 1, ../../project-4/scss/partials/componants/_navigation.scss */
.nav {
  padding-left: 0;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

/* line 8, ../../project-4/scss/partials/componants/_navigation.scss */
.nav-link {
  text-align: center;
  border-radius: 5px;
  padding: 10px 0;
  display: block;
  width: 100%;
  transition: background-color .2s ease-in-out,  color .2s ease-in-out;
}

/* line 19, ../../project-4/scss/partials/componants/_navigation.scss */
.nav-link:hover {
  color: #fff;
  background-color: #56e1c1;
}

@media (min-width: 768px) {
  /* line 3, ../../project-4/scss/partials/componants/_media-queries.scss */
  .container {
    max-width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 10, ../../project-4/scss/partials/componants/_media-queries.scss */
  .centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 16, ../../project-4/scss/partials/componants/_media-queries.scss */
  .row {
    flex-direction: row;
  }
  /* line 20, ../../project-4/scss/partials/componants/_media-queries.scss */
  [class^=col] {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }
  /* line 27, ../../project-4/scss/partials/componants/_media-queries.scss */
  [class^=col] + [class^=col] {
    margin-left: 10px;
  }
  /* line 31, ../../project-4/scss/partials/componants/_media-queries.scss */
  .col-1 {
    flex-basis: 8.33%;
  }
  /* line 35, ../../project-4/scss/partials/componants/_media-queries.scss */
  .col-2 {
    flex-basis: 16.67%;
  }
  /* line 39, ../../project-4/scss/partials/componants/_media-queries.scss */
  .col-3 {
    flex-basis: 25.00%;
  }
  /* line 43, ../../project-4/scss/partials/componants/_media-queries.scss */
  .col-4 {
    flex-basis: 33.33%;
  }
  /* line 47, ../../project-4/scss/partials/componants/_media-queries.scss */
  .col-5 {
    flex-basis: 41.67%;
  }
  /* line 51, ../../project-4/scss/partials/componants/_media-queries.scss */
  .col-6 {
    flex-basis: 50.00%;
  }
  /* line 55, ../../project-4/scss/partials/componants/_media-queries.scss */
  .col-7 {
    flex-basis: 58.33%;
  }
  /* line 59, ../../project-4/scss/partials/componants/_media-queries.scss */
  .col-8 {
    flex-basis: 66.67%;
  }
  /* line 63, ../../project-4/scss/partials/componants/_media-queries.scss */
  .col-9 {
    flex-basis: 75.00%;
  }
  /* line 67, ../../project-4/scss/partials/componants/_media-queries.scss */
  .col-10 {
    flex-basis: 83.33%;
  }
  /* line 71, ../../project-4/scss/partials/componants/_media-queries.scss */
  .col-11 {
    flex-basis: 91.67%;
  }
  /* line 75, ../../project-4/scss/partials/componants/_media-queries.scss */
  .col-12 {
    flex-basis: 100%;
  }
  /* line 79, ../../project-4/scss/partials/componants/_media-queries.scss */
  .nav {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  /* line 85, ../../project-4/scss/partials/componants/_media-queries.scss */
  .nav-link {
    flex-basis: 100px;
  }
  /* line 89, ../../project-4/scss/partials/componants/_media-queries.scss */
  .btn {
    padding: 10px 30px;
  }
  /* line 93, ../../project-4/scss/partials/componants/_media-queries.scss */
  .btn + .btn {
    margin-left: 10px;
  }
  /* line 97, ../../project-4/scss/partials/componants/_media-queries.scss */
  .logo {
    margin-left: initial;
    margin-right: initial;
  }
}

/*# sourceMappingURL=styles.css.map */